.elementor-kit-12 {
  --e-global-color-primary: #2b2e37;
  --e-global-color-secondary: #ffffff;
  --e-global-color-text: #000000;
  --e-global-color-accent: #ee6c4e;
  --e-global-color-2a9f9ba: #eacfff;
  --e-global-color-3f0156f: #4b1763;
  --e-global-color-f0da49e: #ffc836;
  --e-global-typography-primary-font-family: "Roboto";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Roboto Slab";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Roboto";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500;
}
.elementor-kit-12 h1 {
  font-family: "Trebuchet MS", Sans-serif;
}
.elementor-kit-12 h2 {
  font-family: "Tahoma", Sans-serif;
  font-weight: 700;
}
.elementor-kit-12 h3 {
  font-family: "Trebuchet MS", Sans-serif;
  font-weight: 600;
}
.elementor-kit-12 button,
.elementor-kit-12 input[type="button"],
.elementor-kit-12 input[type="submit"],
.elementor-kit-12 .elementor-button {
  border-radius: 5px 5px 5px 5px;
  padding: 15px 20px 15px 020px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
  --widgets-spacing-row: 20px;
  --widgets-spacing-column: 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
@media (max-width: 1024px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
